* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 10px;
	font-family: "Amatic SC", cursive;
}

.app_wrapper {
	background: lightcoral;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.name_app {
	font-size: 4rem;
	word-wrap: break-word;
	text-align: center;
}

.score {
	font-size: 3rem;
	text-align: center;
}

#current_score {
	font-size: 3.5rem;
	font-weight: bold;
	color: rgb(255, 196, 0);
}

.play_btn {
	font-size: 3rem;
	border-radius: 10px;
	margin: 15px 0;
}

.wrapper_dirt {
	width: 80vw;
	min-width: 320px;
	height: 100%;
	max-height: 450px;
	display: flex;
	flex-wrap: wrap;
}

.dirt {
	flex: 1 0 33.33%;
	overflow: hidden;
	position: relative;
	margin-bottom: 15px;
	&:after {
		display: block;
		content: "";
		background-image: url(/svg/dirt.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: -45%;
	}
}

.mole {
	background: url(/svg/mole.svg) bottom center no-repeat;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: -100%;
	transition: all 0.4s;
}

.dirt.up .mole {
	bottom: 0;
}
